.container {
    font-size: 28px;
    font-family: "Gill Sans";
    width: 140px;
    position: relative;
}

.window {
    width: 140px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgba(208, 208, 208, 0.15);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.items_wrapper {
    position: absolute;
    background-color: rgba(83,56,115,0.5);
    width: 114%;
    color: white;
    text-align: center;
    right: 0;
    left: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transition: all 0.3s;
}

.item {
    border-bottom: 1px solid black;
}

.item:hover {
    background-color: rgba(83,56,115,0.8);
    cursor: pointer;
}