.select {
    margin-top: 30px;
    position: relative;
}

.select .main {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.items {
    border: 1px solid black;
    position: absolute;
    padding: 10px;
    top: 40px;
    cursor: pointer;
    width: 100px;
    text-align: center;

}

.item.selected {
    background-color: blue;
    color: white;
}